// colors

$main-text: #f5f4ed; // main text
$link: #e86256; // anchor tags
$background: #795d6b; // background color

// fonts 

$primary-font: 'Bitter', sans-serif;
$secondary-font: 'Open Sans', sans-serif;